[Desktop Entry]
Name=Cinnamon Window Tiling
Comment=Makes window tiling behave like in cinnammon.
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Konstantinos Karatzidis
X-KDE-PluginInfo-Email=konstantinos.karatzidis@gmail.com
X-KDE-PluginInfo-Name=mint-tiling
X-KDE-PluginInfo-Version=0.1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2
X-KDE-ServiceTypes=KWin/Script
Type=Service
